.task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #28697F;
    color: white;
    padding: 8px 16px;
    margin: 12px;
    border-radius: 6px;
  }