/* You can add global styles to this file, and also import other style files */
$btn-height: 28px;

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.basic-button {
  height: $btn-height;
  min-width: $btn-height * 3;
  border: none;
  border-radius: 4px;
}

button {
  @extend .basic-button;

  background-color: #FBF37C;
  color: black;

  &:hover {
    background-color: #6CCED9;
    color: black;
    cursor: pointer;
  }
}

input {
  height: 26px;
  line-height: 26px;
  min-width: 200px;
  padding: 4px 8px;
}